{% block content %}  

<h1>Administrateur</h1>

<div class="container">

<table class="table">
    <thead>
        <tr>
            <th scope="col">administrateur</th>
            <th scope="col">utilisateur</th>
            <th scope="col">category</th>
            <th scope="col">status</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in gère %}
        <tr>
            
            <td>{{item.administrateur}}</td>
            <td>{{item.utilisateur}}</td>
            <td>{{item.utilisateur.category}}</td>
            <td>{{item.status}}</td>
            <td> 
            <a href="{% url 'create' %}">create</a>
            <a href="#">update</a> 
            <a href="#">desactivate</a>  
            </td>
        {% endfor %}  
        </tr>
        </tbody>
</table>
        
</div>

{% endblock %}  